apiVersion: networking.istio.io/v1
kind: DestinationRule
metadata:
  namespace: {{appComponent.appCode}}
  name: {{appComponent.name}}-v{{appComponent.service.version}}
spec:
  host: {{appComponent.name}}-v{{appComponent.service.version}}.{{appComponent.appCode}}.svc.cluster.local
  trafficPolicy:
    loadBalancer:
      simple: LEAST_REQUEST