apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: dr-{{target.name}}-v{{target.version}}
spec:
  host:  {{target.name}}-v{{target.version}}-{{appCode}}.svc.cluster.local
  trafficPolicy:
    loadBalancer:
      simple: LEAST_REQUEST