kind: Service
apiVersion: v1
metadata:
  name: {{internalHostname}}
  namespace: {{namespace}}
  labels:
    app.kubernetes.io/name: {{service.name}}
    app.kubernetes.io/version:  na
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{service.name}}
    app.kubernetes.io/version: na
  ports:
  - name: http-application
    protocol: TCP
    port: 80
    targetPort: 80