kind: Service
apiVersion: v1
metadata:
  namespace: {{appComponent.appCode}}
  name: {{appComponent.name}}
  labels:
    app.kubernetes.io/name: {{appComponent.name}}
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{appComponent.name}}
  ports:
  - name: http-application
    protocol: TCP
    port: {{appComponent.service.port}}
    targetPort: {{appComponent.container.port}}